<!doctype html>
<html>
  <head xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width">
    <title>Fashion search engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link rel="stylesheet" type="text/css" href="css/jquery.Jcrop.css" />
    <link href="css/master.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    <div class="container header">
      <h1>Fashion search engine</h1>
      <h3>Looking for an outfit? Find it online!</h3>
    </div>
    <div class="container content">
      <p>you can...</p>
      <div id="tab-container-1">

    <div>
    <input type="file" id="getimage" />
    <fieldset>
      <legend>Your image</legend>
      <div id="imgstore"></div>
    </fieldset>
    <fieldset hidden>
      <canvas id="mycanvas" hidden></canvas>
    </fieldset hidden>
    

    <form id="updatecrop">
      <input type="hidden" id="x" name="x" />
      <input type="hidden" id="y" name="y" />
      <input type="hidden" id="w" name="w" />
      <input type="hidden" id="h" name="h" />
      <input type="button" value="Crop Image" class="btn btn-large btn-inverse" onclick="crop_image()" />
    </form>
    <form action="/file_result" method="post">
      <input type="hidden" name="factor" value="1">
      <input type="hidden" name="name" value="test.jpg">
      <input type="submit" value="Find it now!">
    </form>
    </div>
  </div>
</div>

    <div class="container footer">
      <p class="credit">We are: mc chu, lc tsai, jz zhou</p>
      <p>This is a prototype.</p>
    </div>
    <!-- input image crop -->
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/yetii-min.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.Jcrop.min.js"></script> 
  </body>
</html>
