<html>
  <head xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width">
    <title>Fashion search engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link href="css/master.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="js/yetii-min.js"></script>
    <!-- input image crop -->
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.Jcrop.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.Jcrop.css" />
  </head>
  <body>
    <div class="container header">
      <h1>Fashion search engine</h1>
      <h3>Looking for an outfit? Find it online!</h3>
    </div>
    <div class="container content">
      <p>you can...</p>
      <div id="tab-container-1">
      <!--
        <div class="span-8">
      <h2>Choose a type</h2>
      <form action="/chooseType" method="post">
        <input type="radio" name="type" value="T-Shirt">T-Shirt
        <input type="radio" name="type" value="Dress">Dress
        <input type="radio" name="type" value="Wool Jacket">Wool Jacket
        <input type="radio" name="type" value="Buttom-Down Shirt">Buttom-Down Shirt
        <input type="submit" value="Submit">
      </form>
    </div>
  -->
    <div>
    <input type="file" id="getimage" />
    <fieldset>
      <legend>Your image here</legend>
      <div id="imgstore"></div>
    </fieldset>
    <fieldset id="save">
      <legend>Crop image here</legend>
      <canvas id="mycanvas"></canvas>
    </fieldset>
    

    <form id="updatecrop">
      <input id="x" name="x" />
      <input id="y" name="y" />
      <input id="w" name="w" />
      <input id="h" name="h" />
      <input type="button" value="Crop Image" class="btn btn-large btn-inverse" onclick="crop_image()" />
    </form>
    <form action="/file_result" method="post">
      <input name="name" value="test.jpg">
      <input type="submit" value="submit">
    </form>
    </div>
  </div>
</div>

    <div class="container footer">
      <p class="credit">We are: mc chu, lc tsai, jz zhou</p>
      <p>This is a prototype.</p>
    </div>
    <script type="text/javascript">
      var tabber1 = new Yetii({
      id: 'tab-container-1'
      });
    </script>
  </body>
</html>
