<html>
  <head xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width">
    <title>Fashion search engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link href="css/master.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="js/yetii-min.js"></script>
  </head>
  <body>
    <div class="container header">
      <h1>Uploaded pictrue</h1>
      <h3>This is the uploaded picture</h3>
      <div class="span-5">
            <div class="tab" id="tab1"><img src="/uploads/{{filename}}" alt="" height="60" />
            <p class="info"> <strong>Input image</strong></p>
            </div>
          </div>
    </div>
    <div class="container content">
    	<div id="tab-container-1">
          <div class="span-13">
          {% set count = 1 %}
          {% for entry in entries[:10] %}
            <div class="tab" id="tab{{count}}"><a href="javascript:tabber1.next()" title="Click to view next image"><img src={{entry.path}} alt="" /></a>
            <p class="info"> <strong>Picture id: {{entry.id}}</strong>Picture description and stuff goes right here.</p>
            </div>
            {% set count = count + 1 %}
            {% else %}
          <li><em>Unbelievable.  No entries here so far</em>
            {% endfor %}
          </div>
        <div class="span-5">
          <ul id="tab-container-1-nav">
            {% set count = 1 %}
            {% for entry in entries[:10] %}
            <li><a href="#tab{{count}}"><img src={{entry.path}} alt="" width="50" height="50" /></a></li>
            {% set count = count + 1 %}
            {% else %}
            <li><em>Unbelievable.  No entries here so far</em>
            {% endfor %}
          </ul>
        </div>
  			<div class="span-5 last">
      			<h2>Filter result</h2>
      			<p>Maybe some filter options here.</p>
      			<p>result analysis: ex.T-shirt, mostly white, short peice...</p>
    		</div>
  		</div>
    </div>
    <div class="container footer">
      <p class="credit">We are: mc chu, lc tsai, jz zhou</p>
      <p>This is a prototype.</p>
    </div>
    <script type="text/javascript">
      var tabber1 = new Yetii({
      id: 'tab-container-1'
      });
    </script>
  </body>
</html>