<!doctype html>
<html>
  <head xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width">
    <title>Fashion search engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link href="css/master.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="js/yetii-min.js"></script>
  </head>
  <body>
    <div class="container header">
      <h1>Similar outfits</h1>
      <h3>These are similiar outfits found online</h3>
      <a href="/" type="button">Return</a>
    </div>
    <div class="container content">
      <div>
        <form action="/file_result" method="post">
          <input type="hidden" name="factor" value="1">
          <input type="hidden" name="name" value="test.jpg">
          <input type="submit" value="Find it now!">
        </form>
      </div>
    	<div id="tab-container-1">
        <div class="span-5">
          <!-- refresh the image onload -->
          <script>
          function refresh(node)
          {
            var address;
            if(node.src.indexOf('?')>-1){
              address = node.src.split('?')[0];
            }
            else {
              address = node.src;
              node.src = address+"?time="+new Date().getTime();
            }
          }
          window.onload = function()
          {
            var node = document.getElementById('stored_qimg');
            refresh(node);
          }
          </script>
            <img id="stored_qimg" src="/uploads/{{filename}}" width="210" alt="" />
            <p class="info"><strong>Score:</strong>
              {% for score in querydata %}
                {{score[0]}}: {{score[1]}} <br>
              {% endfor %}
            </p>
        </div>
          <div class="span-13">
          {% set count = 1 %}
          {% for entry in entries[:10] %}
            <div class="tab" id="tab{{count}}"><a href={{entry.source}} target="_blank" title="Click to buy it!"><img src={{entry.path}} alt="" /></a>
            <p class="info"> <strong>{{entry.name}}</strong>Type: {{entry.type}}, Gender: {{entry.gender}}</p>
            <p class="info" text-align="left"><strong>Score: </strong>
            {% for score in pic_data[count-1] %}
              {{score[0]}}: {{score[1]}} <br>
            {% endfor %}
             </p>
            </div>
            {% set count = count + 1 %}
            {% else %}
          <li><em>Unbelievable.  No entries here so far</em>
            {% endfor %}
          </div>
        <div class="span-5">
          <ul id="tab-container-1-nav">
            {% set count = 1 %}
            {% for entry in entries[:10] %}
            <li><a href="#tab{{count}}"><img src={{entry.path}} alt="" width="50" height="50" /></a></li>
            {% set count = count + 1 %}
            {% else %}
            <li><em>Unbelievable.  No entries here so far</em>
            {% endfor %}
          </ul>
        </div>
  		</div>
    </div>
    <div class="container footer">
      <p class="credit">We are: mc chu, lc tsai, jz zhou</p>
      <p>This is a prototype.</p>
    </div>
    <!-- gallery effect -->
    <script type="text/javascript">
      var tabber1 = new Yetii({
      id: 'tab-container-1'
      });
    </script>
  </body>
</html>