<!doctype html>
<html>
  <head xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width">
    <title>Fashion search engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link href="css/master.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="js/yetii-min.js"></script>
    <script type="text/javascript" src="js/result.js"></script>
    <!-- slider -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
  </head>
  <body>
    <div class="container header">
      <h1>Similar outfits</h1>
      <h3>These are similiar outfits found online</h3>
      <a href="/" type="button">Return</a>
    </div>

    <div class="container content">
      <div>
      <script>
  function hexFromRGB(r, g, b) {
    var hex = [
      r.toString( 16 ),
      g.toString( 16 ),
      b.toString( 16 )
    ];
    $.each( hex, function( nr, val ) {
      if ( val.length === 1 ) {
        hex[ nr ] = "0" + val;
      }
    });
    return hex.join( "" ).toUpperCase();
  }
  function refreshSwatch() {
    var red = $( "#red" ).slider( "value" ),
      green = $( "#green" ).slider( "value" ),
      blue = $( "#blue" ).slider( "value" ),
      hex = hexFromRGB( red, green, blue );
    $( "#swatch" ).css( "background-color", "#" + hex );
  }
  $(function() {
    $( "#red, #green, #blue" ).slider({
      orientation: "horizontal",
      range: "min",
      max: 255,
      value: 127,
      slide: refreshSwatch,
      change: refreshSwatch
    });
    $( "#red" ).slider( "value", 255 );
    $( "#green" ).slider( "value", 140 );
    $( "#blue" ).slider( "value", 60 );
  });
  </script>
      <p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
  <span class="ui-icon ui-icon-pencil" style="float:left; margin:-2px 5px 0 0;"></span>
  Simple Colorpicker
</p>
 
<div id="red"></div>
<div id="green"></div>
<div id="blue"></div>
 
<div id="swatch" class="ui-widget-content ui-corner-all"></div>
</div>
      <div id="tab-container-1">
        <div class="span-5">
            <img id="stored_qimg" src="/uploads/{{filename}}" width="210" alt="" />
            <p class="info"><strong>Score:</strong>
              {% for score in querydata %}
                {{score[0]}}: {{score[1]}} <br>
              {% endfor %}
            </p>
        </div>
        <div id="result">
          <div class="span-13">
          {% set count = 1 %}
          {% for entry in entries[:10] %}
            <div class="tab" id="tab{{count}}"><a href={{entry.source}} target="_blank" title="Click to buy it!"><img src={{entry.path}} alt="" /></a>
            <p class="info"> <strong>{{entry.name}}</strong>Type: {{entry.type}}, Gender: {{entry.gender}}</p>
            <p class="info" text-align="left"><strong>Score: </strong>
            {% for score in pic_data[count-1] %}
              {{score[0]}}: {{score[1]}} <br>
            {% endfor %}
             </p>
            </div>
            {% set count = count + 1 %}
            {% else %}
          <li><em>Unbelievable.  No entries here so far</em>
            {% endfor %}
          </div>
        <div class="span-5">
          <ul id="tab-container-1-nav">
            {% set count = 1 %}
            {% for entry in entries[:10] %}
            <li><a href="#tab{{count}}"><img src={{entry.path}} alt="" width="70" height="70"/></a></li>
            {% set count = count + 1 %}
            {% else %}
            <li><em>Unbelievable.  No entries here so far</em>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="container footer">
      <p class="credit">We are: mc chu, lc tsai, jz zhou</p>
      <p>This is a clothes matching system.</p>
    </div>
    <!-- gallery effect -->
    <script type="text/javascript">
      var tabber1 = new Yetii({
      id: 'tab-container-1'
      });
    </script>
  </body>
</html>