<html>
  <head xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width">
    <title>Fashion search engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link href="css/master.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="js/yetii-min.js"></script>
  </head>
  <body>
    <div class="container header">
      <h1>Uploaded pictrue</h1>
      <h3>This is the uploaded picture</h3>
    </div>
    <div class="container content">
    	<div id="tab-container-1">
    		<div class="span-13">
      			<div class="tab" id="tab1"><img src="/uploads/{{filename}}" alt="" />
        		<p class="info"> <strong>Picture name: {{filename}}</strong>Picture description and stuff goes right here.</p>
      			</div>
      		</div>
  			<div class="span-5 last">
      			<h2>Filter result</h2>
      			<p>Maybe some filter options here.</p>
      			<p>result analysis: ex.T-shirt, mostly white, short peice...</p>
    		</div>
  		</div>
    </div>
    <div class="container footer">
      <p class="credit">We are: mc chu, lc tsai, jz zhou</p>
      <p>This is a prototype.</p>
    </div>
    <script type="text/javascript">
      var tabber1 = new Yetii({
      id: 'tab-container-1'
      });
    </script>
  </body>
</html>